@using Khatra.Resources.ViewsResources

<footer class="text-center">
    <div class="rights">
        <div class="container">
            <div class="col-sm-6">
                <p>
                    &copy; @DateTime.Now.Year - <a href="/Home/">@global.appName</a>
                </p>
            </div>

            <div class="col-sm-6">
                <p>
                    @global.developerRights
                    <a href="https://farouk4web.github.io" target="_blank">
                        @global.developer
                    </a>
                </p>
            </div>

        </div>
    </div>
</footer>