@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="error text-center">
    <div class="container">
        <h2>Error </h2>
        <img src="~/Content/Images/404.jpg" class="img-thumbnil" alt="Alternate Text" />
    </div>
</div>
