#mainNav .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
#mainNav .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    padding-right: 27px;
}
.users .user .Admins {left: 5px;}
.users .user .Publishers {right: 5px;}
.Newslitter .form-control {
    margin-left: -5px;
}

.post .categoryName {
    left: auto;
    right: 0;
}
.comments .comment .actions a {
    margin-left: auto;
    margin-right: 10px;
}
