@using Khatra.Resources.ViewsResources

@{
    ViewBag.Title = global.ForgotPasswordConfirmation;
}
<div class="forgotPasswordConfirmation text-center">
    <div class="container">

        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <i class="fa fa-check-circle-o fa-4x"></i>
        <div>
            <p>
                <b>@global.ForgotPasswordConfirmationWarning</b>
                @global.ForgotPasswordConfirmationMsg
            </p>
        </div>

    </div>
</div>
