@using Khatra.Resources.ViewsResources
@{
    ViewBag.Title = global.SiteLanguage;
}

<div class="siteLanguage">
    <div class="container">
        <h2>@global.SiteLanguage</h2>

        <p class="lead">
            @global.ChangeLangugeMsg
        </p>
 
        <form action="/Home/ChangeLanguage/" method="post">
            <div class="form-group">
                <div class="checkbox">
                    <input id="ar" type="radio" name="language" value="ar-EG" />
                    <label for="ar">العربية</label>
                </div>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <input id="en" type="radio" name="language" value="en-Au" />
                    <label for="en">English</label>
                </div>
            </div>

            <div class="form-group">
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-primary btn-lg">
                    @global.Save
                </button>
            </div>
        </form>
    </div>
</div>
